---
import SecondaryLayout from '~/layouts/secondary-layout.astro'

import { SITE_TITLE_ABOUT } from '~/consts'
---

<SecondaryLayout site_title={SITE_TITLE_ABOUT}>
  <section>
    <div><p>Here we are</p></div>
  </section>
</SecondaryLayout>
