---
import BaseLayout from '~/layouts/base-layout.astro'
import ResponsiveImage from '~/components/responsive-image.astro'
import { SITE_TITLE_ABOUT } from '~/consts'
import { author_jane } from '~/assets'
---

<BaseLayout site_title={SITE_TITLE_ABOUT}>
  <section id='about' class='my-3 md:my-24'>
    <div class='container m-auto max-w-7xl space-y-8 p-6'>
      <h1 class='text-center text-3xl'>ABOUT</h1>
      <div
        class='grid w-full grid-cols-1 justify-center gap-8 md:grid-cols-2 md:gap-4'
      >
        <ResponsiveImage
          src={author_jane}
          sizes={[400]}
          alt='Jane Goodreads Image'
          format='avif'
        />
        <div class='flex flex-col gap-4'>
          <h2 class='text-2xl uppercase'>Jane Goodreads</h2>
          <p>
            Meet Jane Goodreads, a visionary fantasy writer hailing from the
            sun-soaked shores of San Diego. With a coveted spot on the New York
            Times bestseller list, Jane's enchanting stories transport readers
            to the mesmerizing realms of the Goodverse. Through her pen, she
            conjures magical worlds, where dreams take flight, and the ordinary
            is touched by the extraordinary. Join Jane on a journey through her
            fantastical creations and discover a world where imagination knows
            no bounds.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
