---
import BaseLayout from '~/layouts/base-layout.astro'
import NewsletterForm from '~/components/newsletter-form.astro'
import { SITE_TITLE_CONTACT } from '~/consts'
---

<BaseLayout site_title={SITE_TITLE_CONTACT}>
  <section id='contact' class='my-3 md:my-24'>
    <NewsletterForm title='NEWSLETTER' />
  </section>
</BaseLayout>
