---
import { Image } from 'astro:assets'

import BaseLayout from '~/layouts/base-layout.astro'
import GridContainer from '~/components/ui/grid-container.astro'

import { goodverse, new_release, haunting_good_times } from '~/assets'
import { SITE_TITLE_HOME } from '~/consts'
---

<BaseLayout site_title={SITE_TITLE_HOME}>
  <section id='hero-main'>
    <div
      class='relative h-[600px] bg-hero-pattern bg-cover bg-center bg-no-repeat'
    >
      <div
        class='flex h-[600px] items-center justify-center bg-black bg-opacity-50'
        style='background:rgba(0,0,0,0.5);'
      >
        <div
          class='container m-auto flex h-full max-w-7xl items-center justify-center'
        >
          <div class='flex flex-col items-center gap-8 p-6 md:flex-row'>
            <Image
              src={haunting_good_times}
              alt='New Release Book'
              class='aspect-auto h-auto w-52 md:w-64'
            />
            <div class='flex w-full flex-col items-center gap-4'>
              <p class='gradient-text text-2xl font-bold'>
                Haunting Good Times
              </p>
              <p>
                Lorem ipsum dolor sit amet, qui minim labore adipisicing minim
                sint cillum sint consectetur cupidatat.
              </p>
              <button
                class='w-32 rounded-full bg-orange-200 px-4 py-2 font-bold text-black hover:bg-sky-600 hover:text-foreground'
              >
                Buy Now
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id='intro-goodverse' class='my-24'>
    <div class='container m-auto flex max-w-7xl flex-col items-center p-6'>
      <h2 class='text-5xl italic'>EXPLORE THE GOODVERSE</h2>
      <Image
        src={goodverse}
        alt='Image of the Goodverse'
        class='aspect-auto h-auto w-full max-w-5xl'
      />
    </div>
  </section>

  <section id='intro-new-release'>
    <div class='container m-auto max-w-7xl space-y-28 p-12'>
      <h2 class='text-center text-5xl italic'>New Releases</h2>
      <GridContainer>
        <Fragment slot='section-1'>
          <Image
            src={new_release}
            alt='New Release Book'
            class='aspect-auto h-auto max-w-xl'
          />
        </Fragment>
        <Fragment slot='section-2'>
          <p class='gradient-text text-2xl font-bold'>Good Times Here</p>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum
            facere autem est alias nisi corrupti dicta, a consequuntur
            laboriosam ab ipsa molestiae reiciendis delectus, commodi natus
            adipisci sequi vel? Ipsam.
          </p>
          <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>
          <p>
            Lorem ipsum dolor sit amet, qui minim labore adipisicing minim sint
            cillum sint consectetur cupidatat.
          </p>

          <button
            class='w-32 rounded-full bg-orange-200 px-4 py-2 font-bold text-black hover:bg-sky-600 hover:text-foreground'
          >
            Buy Now
          </button>
        </Fragment>
      </GridContainer>
    </div>
  </section>

  <section id='intro-contact' class='my-24'>
    <div class='container m-auto max-w-3xl space-y-8 p-12'>
      <h2 class='text-center text-5xl italic'>NEWSLETTER</h2>
      <p class='text-center'>Find out about tours and tour dates.</p>
      <form action='#' class='space-y-8'>
        <div>
          <label for='email' class='mb-2 block text-center font-medium'
            >EMAIL ADDRESS</label
          >
          <input
            type='email'
            id='email'
            class='block h-14 w-full rounded-full border border-gray-300 bg-transparent text-center font-medium'
            required
          />
        </div>
        <div>
          <label for='first-name' class='mb-2 block text-center font-medium'
            >FIRST NAME</label
          >
          <input
            type='text'
            id='first-name'
            class='block h-14 w-full rounded-full border border-gray-300 bg-transparent text-center font-medium'
            required
          />
        </div>
        <button
          class='w-full rounded-full bg-orange-200 px-4 py-2 font-bold text-black hover:bg-sky-600 hover:text-foreground'
        >
          Subscribe
        </button>
      </form>
    </div>
  </section>
</BaseLayout>
