---
import BaseLayout from '~/layouts/base-layout.astro'

import { SITE_TITLE_HOME } from '~/consts'
---

<BaseLayout site_title={SITE_TITLE_HOME}>
  <section id='hero-main'>
    <div
      class='relative h-screen bg-hero-pattern bg-cover bg-center bg-no-repeat'
    >
      <div
        class='container m-auto flex h-full max-w-7xl items-center justify-center'
      >
        <p>Hi</p>
      </div>
    </div>
  </section>
  <section>
    <div>
      <p>Hello world</p>
    </div>
  </section>
</BaseLayout>
