---

---

<header id='header' class='relative top-0 left-0 right-0 md:fixed z-10 bg-red-100 md:bg-transparent'>
    <nav class='flex w-full flex-wrap items-center justify-between'>
      <a href='/'><h1 class='text-4xl'>JANE GOODREADS</h1></a>
      <div id='menu'>
        <ul>
          <li><a href='/about'>ABOUT</a></li>
          <li><a href='/books'>BOOKS</a></li>
          <li><a href='/events'>EVENTS</a></li>
          <li><a href='/contact'>CONTACT</a></li>
        </ul>
      </div>
    </nav>
</header>
